{% load static %}
{% if not accounts %}
    <p><strong>No Hay Cuentas Disponibles</strong></p>
{% else %}

    <h1>Cuentas</h1>
    <form method="POST">
        {% csrf_token %}
        <label for="name">
            <span>{{form.account_name_id.label }}</span>
            {{form.account_name_id }}
        </label>
        <label for="email">
            <span>{{form.email.label }}</span>
            {{form.email }}
        </label>
        <label for="status">
            <span>{{form.status_id.label }}</span>
            {{form.status_id }}
        </label>
        <input type="submit" value="Filtrar">
    </form>

<table>
    <tr>
        <th>Cuenta</th>
        <th>Creación Cuenta</th>
        <th>Vencimiento Cuenta</th>
        <th>Creador por:</th>
        <th>Modificado por:</th>
        <th>Proveedor</th>
        <th>E-Mail</th>
        <th>Clave</th>
        <th>Estado</th>
        <th>Perfil</th>
        <th>Pin</th>
        <th>Comentarios</th>
        <th>Acciones</th>
    </tr>
    {% for active in venues %}
    <tr>
        <td>{{active.account_name_id}}</td>
        <td>{{active.created_at|date:"d-M-Y"}}</td>
        <td>{{active.expiration_date|date:"d-M-Y"}}</td>
        <td>{{active.created_by}}</td>
        <td>{{active.modified_by}}</td>
        <td>{{active.supplier}}</td>
        <td>{{active.email}}</td>
        <td>{{active.password}}</td>
        <td>
            {% comment %} Show Disponible if account is unnasigned to a Customer or Ocupado if account is Asigned to a Customer {% endcomment %}
            {% if  active.customer_id == Null %}
            <p>Disponible</p>
            {% else %}
            <p>Ocupado</p>
            {% endif %}
        </td>
        <td>{{active.profile}}</td>
        <td>{{active.pin}}</td>
        <td>{{active.comments}}</td>
    </tr>
    {% endfor %}
</table>
<br>
<br>

{% if venues.has_previous %}
<a href="?page=1">&laquo Primera Página</a>
<a href="?page={{venues.previous_page_number}}">Anterior</a>
{% endif %}

Página {{venues.number}} de {{venues.paginator.num_pages}}

{% if venues.has_next %}
    <a href="?page={{venues.next_page_number}}">Siguiente Página</a>
    <a href="?page={{venues.paginator.num_pages}}">Última Página &raquo</a>
{% endif %}

    {% endif %}