{% extends 'template.html' %}

{% block title %}Cuentas Disponibles{% endblock title %}
{% block body %}


{% if not accounts %}
<p><strong>No Hay Cuentas Disponibles</strong></p>
<a href=" {% url 'accounts:list_account' %} ">Volver</a>
{% else %}

{% if messages %}
{% for message in messages %}
<div class="alert alert-success {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}
</div>
{% endfor %}
{% endif %}

{% comment %} Form Filters {% endcomment %}
<section>
    <form class="row row-cols-lg-auto g-3 align-items-center filter" method="POST">
        {% csrf_token %}

        {% comment %} Account {% endcomment %}
        <div class="col-12">
            <label class="visually-hidden" for="inlineFormInputGroupUsername">{{form.account_name_id.label }}</label>
            <div class="input-group">
                <div class="input-group-text">{{form.account_name_id.label }}</div>
                {{form.account_name_id }}
            </div>
        </div>

        {% comment %} E-Mail {% endcomment %}
        <div class="col-12">
            <label class="visually-hidden" for="inlineFormInputGroupUsername">{{form.email.label}}</label>
            <div class="input-group">
                <div class="input-group-text">{{form.email.label }}</div>
                {{form.email }}
            </div>
        </div>

        {% comment %} Status {% endcomment %}
        <div class="col-12">
            <label class="visually-hidden" for="inlineFormInputGroupUsername">{{form.status_id.label }}</label>
            <div class="input-group">
                <div class="input-group-text">{{form.status_id.label }}</div>
                {{form.status_id }}
            </div>
        </div>
        <div class="col-12">
            <input type="submit" class="btn btn-info" value="Filtrar">
        </div>

    </form>
</section>

<table class="table table-striped table-hover details">
    <thead>
        <tr>
            <th>Cuenta</th>
            <th>Creación Cuenta</th>
            <th>Vencimiento Cuenta</th>
            <th>Creador por:</th>
            <th>Modificado por:</th>
            <th>Proveedor</th>
            <th>E-Mail</th>
            <th>Clave</th>
            <th>Estado</th>
            <th>Perfil</th>
            <th>Pin</th>
            <th>Comentarios</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for active in venues %}
        <tr>
            <td>{{active.account_name_id}}</td>
            <td>{{active.created_at|date:"d-M-Y"}}</td>
            <td>{{active.expiration_date|date:"d-M-Y"}}</td>
            <td>{{active.created_by}}</td>
            <td>{{active.modified_by}}</td>
            <td>{{active.supplier}}</td>
            <td>{{active.email}}</td>
            <td>{{active.password}}</td>
            <td>
                {% comment %} Show Disponible if account is unnasigned to a Customer or Ocupado if account is Asigned to
                a
                Customer {% endcomment %}
                {% if  active.customer_id == Null %}
                <p>Disponible</p>
                {% else %}
                <p>Ocupado</p>
                {% endif %}
            </td>
            <td>{{active.profile}}</td>
            <td>{{active.pin}}</td>
            <td>{{active.comments}}</td>
            <td>
                {% comment %} edit {% endcomment %}
                <a href="{% url 'accounts:edit' active.id %}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                      </svg>
                </a>
                {% comment %} suspender {% endcomment %}
                <a href="{% url 'accounts:layoff' active.account_name_id.id active.email %}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pause-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path d="M5 6.25a1.25 1.25 0 1 1 2.5 0v3.5a1.25 1.25 0 1 1-2.5 0v-3.5zm3.5 0a1.25 1.25 0 1 1 2.5 0v3.5a1.25 1.25 0 1 1-2.5 0v-3.5z"/>
                      </svg>
                </a>
                {% comment %} Detalles {% endcomment %}
                <a href="{% url 'accounts:detail' active.id %}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                        <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                        <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                      </svg>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br>
<br>

{% if venues.has_previous %}
<a href="?page=1">&laquo Primera Página</a>
<a href="?page={{venues.previous_page_number}}">Anterior</a>
{% endif %}

Página {{venues.number}} de {{venues.paginator.num_pages}}

{% if venues.has_next %}
<a href="?page={{venues.next_page_number}}">Siguiente Página</a>
<a href="?page={{venues.paginator.num_pages}}">Última Página &raquo</a>
{% endif %}

{% endif %}

{% endblock body %}