{% extends 'template.html' %}
{% block body %}
{% if error_message %}
<p><strong>{{error_message}}</strong></p>
{% endif %}

<h1>Actual business is {{user.userdetail.business_id}}</h1>

<form method="post">
    {% csrf_token %}

    <label for="account_name_id">
        <span>{{form.account_name_id.label }}</span>
        {{form.account_name_id }}
    </label>
    <label for="supplier">
        <span>{{ form.supplier.label}}</span>
        {{ form.supplier}}
    </label>
    <label for="expiration_date">
        <span>{{form.expiration_date.label}}</span>
        {{form.expiration_date}}
    </label>
    <label for="email">
        <span> {{ form.email.label }}</span>
        {{ form.email }}
    </label>
    <label for="password">
        <span> {{form.password.label }}</span>
        {{form.password }}
    </label>
    <label for="pin">
        <span>{{ form.pin.label }}</span>
        {{ form.pin }}
    </label>
    <label for="comments">
        <span>{{form.comments.label }}</span>
        {{form.comments }}
    </label>
    <input type="hidden" value="{{user.userdetail.business_id}}" name="business">
    <input type="hidden" value="{{user.id}}" name="created_by">
    <input type="hidden" value="{{user.id}}" name="modified_by">
    <input type="hidden" value="1" name="profile">
    <input type="submit" value="Terminar">
</form>
{% endblock body %}