{% extends 'template.html' %}
{% load humanize %}
{% block body %}

{{error_message}}

<div class="d-flex justify-content-evenly flex-wrap ">

    <!--Daily Sales-->
    <div class="metric m-2  d-flex shadow p-3 mb-5 bg-body bg-gradient rounded">
        <div>
            <h6>Ventas Del Día</h6>
            <h1><b>${{today_sale|intcomma}}</b></h1>
            {% if comparation >= 0 %}
            <span class="badge badge-soft-success rounded-pill fs--2">+{{comparation}}%</span>
            {% else %}
            <span class="badge badge-soft-danger rounded-pill fs--2">{{comparation}}%</span>
            {% endif %}
        </div>
        <div class="px-3">
            <h6>México</h6>
        </div>
    </div>

    <!--Yearly Sales-->
    <div class="metric m-2 d-flex shadow p-3 mb-5 bg-body bg-gradient rounded">
        <div>
            <h6>Ventas Del Año</h6>
            <h1><b>${{year_sale|intcomma }}</b></h1>
            {% if comparation >= 0 %}
            <span class="badge badge-soft-success rounded-pill fs--2">+{{comparation}}%</span>
            {% else %}
            <span class="badge badge-soft-danger rounded-pill fs--2">{{comparation}}%</span>
            {% endif %}
        </div>
        <div class="px-3">
            <h6>México</h6>
        </div>
    </div>
    <!--Goals-->
    <div class="metric m-2 shadow p-3 mb-5 bg-body bg-gradient rounded">
        <div>
            <h6>Meta Mensual</h6>
            <h1><b>{{goal}}%</b></h1>
            <div class="progress">
                <div class="progress-bar progress-bar-striped bg-{{color}}" role="progressbar" style="width: {{goal}}%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </div>
    <!--Best Seller Day-->
    <div class="metric m-2 d-flex shadow p-3 mb-5 bg-body bg-gradient rounded">
        <div>
            <h6>Más Vendidos Hoy</h6>
            <table class="best_sellers">
                {% for key,data in best_sellers_day.items %}
                <tr>
                    <td><div class="circulo"></div></td>
                    <td>{{key}}</td>
                    <td>${{data.value|intcomma}}</td>
                    <td>{{data.percentage}}%</td>
                </tr>
                {% endfor %}
            </table>

        </div>
        <div class="px-3">
            <h6>México</h6>
        </div>
    </div>
    <!--Best Seller Year-->
    <div class="metric m-2 d-flex shadow p-3 mb-5 bg-body bg-gradient rounded">
        <div>
            <h6>Más Vendidos Este Año</h6>
            <table class="best_sellers">
                {% for key,data in best_sellers_year.items %}
                <tr>
                    <td><div class="circulo"></div></td>
                    <td>{{key}}</td>
                    <td>${{data.value|intcomma}}</td>
                    <td>{{data.percentage}}%</td>
                </tr>
                {% endfor %}
            </table>

        </div>
        <div class="px-3">
            <h6>México</h6>
        </div>
    </div>

    <canvas id="myChart" width="400" height="400"></canvas>

    {% endblock body %}

    {% block extrajs %}
    <script src="../../../node_modules/chart.js"></script>
    <script>
        const myChart = new Chart(ctx, {...});
    </script>

    <script>
        const ctx = document.getElementById('myChart');
        const myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                datasets: [{
                    label: '# of Votes',
                    data: [12, 19, 3, 5, 2, 3],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
        </script>

    


    {% endblock extrajs %}