{% load static %}
<form method="POST">
    {% csrf_token %}
    {% if  form.errors %}
        <p><strong>Usuario o contraseña incorrecto, porfavor vuelve a inentarlo</strong></p>
    {% endif %}

    {% if user.is_authenticated %}
    Bienvenido {{user.first_name}} {{user.last_name}} <br>
    {% endif %}

    {{ form.username }}  
    {{ form.password }}   

    {% comment %} <input type="text" name="username">
    <input type="password" name="password"> {% endcomment %}
    <input type="submit" value="Login">
</form>