<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Editar Vencimiento de {{sale.account_id}} Perfil {{sale.account_id.profile}} </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="{% url 'accounts:update_sale' sale.id %}" method="POST">
            {% csrf_token %}
            <div class="modal-body mb-3">

                <div class="mb-3">
                    <label for="expiration_date" class="col-form-label">{{form.expiration_date.label}}:</label>
                    {{form.expiration_date}}
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <input type="submit" class="btn btn-primary" value="Editar">
            </div>
        </form>
    </div>
</div>