    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Editar {{object}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{% url 'accounts:edit' object.id %}" method="POST">
                {% csrf_token %}
                <div class="modal-body">

                    <div class="mb-3">
                        <label for="account_name_id" class="form-label">{{form.account_name_id.label}}</label>
                        {{form.account_name_id}}
                    </div>
                    <div class="mb-3">
                        <label for="expiration_date" class="form-label">{{form.expiration_date.label}}</label>
                        {{form.expiration_date}}
                    </div>

                    <div class="mb-3">
                        <label for="email" class="form-label">{{form.email.label}}</label>
                        {{form.email}}
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">{{form.password.label}}</label>
                        {{form.password}}
                    </div>
                    <div class="mb-3">
                        <label for="pin" class="form-label">{{form.pin.label}}</label>
                        {{form.pin}}
                    </div>
                    <div class="mb-3">
                        <label for="renovable" class="form-label">{{form.renovable.label}}</label>
                        {{form.renovable}}
                    </div>

                    <div class="mb-3">
                        <label for="supplier" class="form-label">{{form.supplier.label}}</label>
                        {{form.supplier}}
                    </div>
                    <div class="mb-3">
                        <label for="comments" class="form-label">{{form.comments.label}}</label>
                        {{form.comments}}
                    </div>
                    <input type="hidden" value="{{user.id}}" name="modified_by">
                    {% comment %} <input type="submit" value="Editar"> {% endcomment %}

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="Editar">
                </div>
            </form>
        </div>
    </div>