:root {
    --verde_oscuro: #badbcc;
    --verde_claro: #D1E7DD;
    --verde_letras: #0f5132;
    --rojo_letras: #842029;
    --rojo_claro: #F8D7DA;
    --rojo_oscuro: #f5c2c7;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

header {
    height: 11vh;
}

nav .navbar-brand a {
    font-size: 3rem;
}

.navbar-brand img {
    /* width:30px; */
    height: 8vh;
}

main {
    height: 100%;
    padding: 1rem;
    font-size: 1.5rem;
    min-width: 320px;
}

.account-filters {
    width: 100vw;
    display: flex;
    background-color: red;
}

.buttons{
    margin: 1rem 0;
}

section {
    margin-bottom: 1rem;
}

section.activas {
    border: 0.1rem solid var(--verde_oscuro);
    border-radius: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
section.inactivas {
    border: 0.1rem solid var(--rojo_oscuro);
    border-radius: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
section.inactivas div.header {
    background-color: var(--rojo_claro);
    color: var(--rojo_letras);
    padding: 0.5rem;
    border-bottom: 0.1rem solid var(--rojo_oscuro);
    width:100%;
}

section div.header {
    background-color: var(--verde_claro);
    color: var(--verde_letras);
    padding: 0.5rem;
    border-bottom: 0.1rem solid var(--verde_oscuro);
    width:100%;
}
section div.body{
    width: 100%;

}
section div.detail{
    margin: 1rem;
    display: flex;
    /* justify-content: space-around; */
    flex-wrap: wrap;
}
section div.detail span{
    font-weight: bold;
    width: 30rem;
}

section div.detail div{
    width: 20rem;
}
section div.detail div.email{
    flex-grow: 1;
}
section div.detail div.perfil{
    width: 10rem;
}
section div.detail div.pin{
    width: 10rem;
}
section div.footer{
    width: 100%;
    border-bottom: 0.1rem solid var(--verde_oscuro);
    padding: 1rem;
}

footer {
    width: 100vw;
    height: 5vh;
    display: flex;
    background-color: lightgrey;
    justify-content: center;
    align-items: center;
}

footer p {
    font-size: 1.6rem;
    color: grey;
}

table a {
    text-decoration: none;
}

.html_login {
    height: 100%;
}

.logo_login {
    width: 20rem;
    border-radius: 1rem;
}

.login {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
    height: 100%;
    justify-content: center;
}

.login h1 {
    font-size: 2.6rem;
}

.form-input {
    font-size: 1.6rem;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.gold {
    color: #efb810;
}