* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

header {
    height: 11vh;
}

nav .navbar-brand a {
    font-size: 3rem;
}

.navbar-brand img {
    /* width:30px; */
    height: 8vh;
}

main {
    height: 84vh;
    padding: 1rem;
    font-size: 1.5rem;
}

.account-filters {
    width: 100vw;
    display: flex;
    background-color: red;
}

section {
    margin-bottom: 1rem;
}

footer {
    width: 100vw;
    height: 5vh;
    display: flex;
    background-color: lightgrey;
    justify-content: center;
    align-items: center;
}

footer p {
    font-size: 1.6rem;
    color: grey;
}

table a {
    text-decoration: none;
}

.html_login{
    height: 100%;
}
.logo_login{
    width:20rem;
    border-radius: 1rem;
}
.login {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
    height:100%;
    justify-content: center;
  }
  .login h1{
    font-size: 2.6rem;
  }
  .form-input{
      font-size:1.6rem;
  }
  .form-signin {
    max-width: 330px;
    padding: 15px;
  }
  
  .form-signin .form-floating:focus-within {
    z-index: 2;
  }
  
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
.gold{
    color: #efb810;
}