{% load static %}
{% load tags %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'accounts/mobile.css'%}"
        media="only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px)">
    <link rel="stylesheet" href="{% static 'accounts/style.css' %}">

    <title>{% block title %}{% endblock title %}</title>

</head>

<body>
    {% if user.is_authenticated %}
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'accounts:dashboard' %}">
                    <img src="{% static 'accounts/images/cm_logo.png' %}" alt="Logotipo">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page"
                                href="{% url 'accounts:dashboard' %}">Inicio</a>
                        </li>
                       <!-- <li class="nav-item">
                            <a class="nav-link" href="{% url 'accounts:sales' %}">Ventas</a>
                        </li>-->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Ventas
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#" onclick="abrir_modal_edicion('{% url 'accounts:new_customer' %}')" >Nuevo Cliente</a></li>
                                <li><a class="dropdown-item" href="#"
                                    onclick="abrir_modal_edicion('{% url 'accounts:find_cupon' %}')">Buscar Cupon</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Cuentas
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{% url 'accounts:list_account' %}">Ver Cuentas
                                        Activas</a></li>
                                <li><a class="dropdown-item" href="#"
                                        onclick="abrir_modal_edicion('{% url 'accounts:create_account' %}')">Crear
                                        Cuenta</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Bienvenido {{ user.first_name}}
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Perfil</a></li>
                                <li><a class="dropdown-item" href="#">Otros</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="{% url 'accounts:logout' %}">Cerrar Sesión</a></li>
                            </ul>
                        </li>

                    </ul>
                    <form action="{% url 'accounts:sales' %}" class="d-flex" role="search" method="POST">
                        {% csrf_token %}
                        <input class="form-control me-2" name="customer" type="text" placeholder="Search"
                            aria-label="Search" required>
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>
    {% endif %}

    <main>
        {% block body %}

        {% endblock body %}

        {% if error_message %}
        <div aria-live="polite" aria-atomic="true" class="position-relative">
            <div class="toast-container top-0 end-0">
                <div class="toast">
                    <div class="toast-header text-bg-danger">
                        <strong class="me-auto ">ALERTA</strong>
                        <small>ahora</small>
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body">
                        {{error_message}}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="modal fade" id="edicion" role="dialog">
        </div>
    </main>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@2.2.4/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous">
    </script>
    <script type="text/javascript">
        var $ = jQuery.noConflict();

        function abrir_modal_edicion(url) {
            $('#edicion').load(url, function () {
                $(this).modal('show');
            });
        }
    </script>

    {% block extrajs %}

    {% endblock extrajs %}

    {% if user.is_authenticated %}
    {% comment %} <footer>
        <p>
            Creado por Eric Martínez, Todos los derechos reservados
        </p>
    </footer> {% endcomment %}

    {% endif %}
</body>

</html>